@media (orientation: portrait) {
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
        min-height: fill-available;
    }
    html {
        height: fill-available;
        height: -webkit-fill-available;
    }
    .header{height: 13vh;}
    .header .name-cont{
        position: relative;
        top: 0vh;
        left: 27vw;
        padding-left: 5vw;
        padding-right: 5vw;
        height: 6vh;
        content: " ";
        background: white;
        border-radius: 0 0 1.5vh 1.5vh;
    }
    .header .name{
        margin-top: 1.4vh;
        display: block;
        font-size: 3vh;
        margin-left: 0;
        color: transparent;
        background: linear-gradient(to right,#00fa,#08fa);
        -webkit-background-clip: text;
        z-index: 1;
        font-weight: bold;
    }
    .header .top-bar{
        width: 100vw;
        font-size: 3vh;
        margin-top: 0.3vh;
        display: block;
        position: absolute;
        left: 0;
        text-align: center;
    }
    .header .top-bar .item{font-size: 2.6vh;margin-right: 3vw;margin-left: 3vw;}


    .container{top: 13vh;}
    .sideMenu{width: 8vw;}
    .sideMenu .desktop{display: none;}
    .sideMenu .mobile{
        display: block;
        font-size: 2vh;
    }
    .sideMenu p{
        width: 6vw;
    }
    .data{
        width: 89vw;
        left: 9vw;
        font-size: 1.5vh;
        height: 87vh;
    }
    .data span scr{font-size: 1.5vh;}
    .data table{width: 80vw;font-size: 1.5vh;}
    .data th:nth-child(even) {width: 58.5vw}
}
