@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{user-select: none}
body{font-family: Roboto;overflow: hidden;background: #f8f8f8}

.header{
    height: 7.3%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    user-select: none;
    background: linear-gradient(to right,#00fa,#08fa);
    color: white;
}
.header * {display: inline-block;}
.header .name{
    font-size: 1.83vw;
    margin-top: 1.1vh;
    margin-left: 1.46vw;
}
.header .top-bar{
    float: right;
    margin-right: 1.46vw;
}
.header .top-bar .item{
    font-size: 1.46vw;
    margin-top: 1.8vh;
    margin-right: 2.2vw;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: Roboto;
}
.header .top-bar .item::after{
    display:block;
    content: '';
    border-bottom: solid 3px #cc1;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: 0% 50%;
}
.header .top-bar .item:hover:after {
    transform: scaleX(1);
}
.content{
    height: 92.7%;
    width: 100%;
    position: absolute;
    top: 7.3%;
    left: 0;
    overflow: hidden;
}
